name: Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: zmkfirmware/zmk-build-arm:4.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          west init -l app
          west update
          west build app -p -b nice_nano_v2 -- -DSHIELD="corne"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/*.uf2
